*{
    margin: 0;
    box-sizing: border-box;
}

/*Centering the page*/
#page-wrapper{
    width: 80vw;
    margin: 0 auto;
    font-family: 'Source Sans 3', sans-serif;
}

/*Header starts*/
header{
    padding: 1%;
    background-color: #0A66C2;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*Header ends*/

#header-title{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 1%;
}

/*Two column container starts:*/

#nav-main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav{
    background-color: #E0DADA;
    width: 20%;
}

nav ul{
    list-style: none;
    padding-left: 0;
    padding: 10%;
}

nav li{
    width: 90%;
    background-color:#E0DADA;
    text-align: left;
    font-weight: 900;
    padding-left: 3%;
    border-radius: 5px;
}

nav li:hover{
    width: 90%;
    background-color:RGBA(165, 178, 194, 0.7);
    text-align: left;
    padding-left: 3%;
}

#selected-page{
    background-color:RGBA(160, 209, 255, 0.7);
}

nav a{
    text-decoration: none;
    font-size: calc(2px + 1.3vw);
    color: black;
}
nav a:visited {
  color: black;
  text-decoration: none;
}

main{
    padding: 1% 2%;
    /*at least 100vh*/
    height: 210vh;
    background-color: #F4F2EE;
    text-align: center;
    width: 80%;
}

section{
    /* background-color: #C2660A; */
    padding-bottom: 1%;
}

section li {
    text-align: left;
    list-style-type: circle;
}

#all-skills{
    display: flex;
    flex-direction: column;
}
.skill-row{
    display: flex;
    flex-direction: row;
}

.skill-category{
    width: 50%;
    align-items: center;
    outline: 2px solid black; 
    border-radius: 5px;
    margin: 1%
}

.skill-category li{
    justify-content: left;
    text-align: left;
    list-style-type: circle;
}

.role-container{
    margin: 2% 0;
}

.role-container p{
    line-height: 100%;
    font-size: calc(12px + 1vw);
    padding: 2%;
    text-align: left;
}

.role-header{
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: calc(12px + 1.3vw);
    /* background-color: red; */
    flex-direction: column;
}

.role-header h4{
    font-size: calc(2px + 1.5vw);
    font-weight: 200;
}
.role-header p{
    font-size: calc(2px + 1vw);
    font-weight: 200;
    margin: 0 2%;
    padding: 3px;
}

.company-header{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: calc(12px + 1.3vw);
    /* background-color: red; */
    flex-direction: row;
}

.company-header h3{
    font-size: calc(12px + 2vw);
    font-weight: bold;
}

.company-header img{
    width: 50px;       
    height: 50px;      
    border-radius: 50%; 
    object-fit: cover;
    margin: 5px;
}


.profile-picture{
    width: 75px;       
    height: 75px;      
    border-radius: 50%; 
    object-fit: cover;
    margin: 5px;
}

#row_two p{
    justify-content: left;
    display: flex;
    flex-direction: row;
}

main p{
    line-height: 100%;
    font-size: calc(12px + 2vw);
    padding: 2%;
}

main h2{
    text-align: center;
    margin: 2% 0;
    font-size: calc(12px + 2vw);
    color: black;
}

main img{
    max-width: 40%;
}

#calculator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    background-color: gray;
    padding: 2%;
    border-radius: 10px;
}
#calculator-container h3{
    outline: 2px solid black; 
    border-radius: 1px;
    width: 100%;
    height: calc(12px + 1vw);
    font-size: calc(12px + 1vw);
    justify-content: center;
    background-color: white;
    
}
#calculator-button-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.calculator-button-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#calculator-button-group button{
    width:100%
}
#calculator-input-group{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.calculator-input{
    color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
}


/*
    height and width: vw or vh
    margin and padding: %
    font-size: calc(2px + 1.5vw);
    img: max-width: 100% (do not exceed 100)
*/


/*Two column container ends*/

footer{
    background-color: #0A66C2;
    color: white;
    padding: 1%;
    text-align: center;
}

#time-date{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

footer a{
    color: bisque;
}



@media  screen and (max-width: 1000px) {
    .profile-picture{
        width: 150px;       
        height: 150px;      
        border-radius: 50%; 
        object-fit: cover;
        margin: 5px;
    }
    #nav-main{
        flex-direction: column;
    }

    nav, main{
        width: 100%;
    }
    #page-wrapper{
        width: 100vw;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        /* align-items: center; */
        padding: 0%;
        margin:0% auto;
    }

    #this-one{
        flex-direction: column;
    }

    header{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main{
        height: 300vh;
    }

    main p{
        line-height: 100%;
        font-size: calc(10px + 2vw);
        padding: 2%;
    }

    #all-skills{
        display: flex;
        flex-direction: column;
    }
    .skill-row{
        display: flex;
        flex-direction: column;
    }
    .skill-category{
        width: 100%;
    }
    #calculator-container{
        width:100%;
    }
    /* #calculator-container h3{
        outline: 2px solid black; 
        border-radius: 1px;
        width: 100%;
        height: calc(2px + 1.5vw);
        font-size: calc(10px + 1.5vw);
        justify-content: center;
        background-color: white;
    } */
}
